<h2>Mijozlar Ro‘yxati</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ism</th>
            <th>Telefon</th>
            <th>Lokatsiya</th>
            <th>Oxirgi Zakaz Sanasi</th>
            <th>Holat</th>
        </tr>
    </thead>
    <tbody>
        {{#each clients}}
        <tr class="{{#if inactive}}table-danger{{/if}}">
            <td>{{this.ism}}</td>
            <td>{{this.telefon}}</td>
            <td>{{this.lokatsiya}}</td>
            <td>{{this.lastOrderDate}}</td>
            <td>
                {{#if inactive}}
                    <span class="badge bg-danger">10+ kun ishlamagan</span>
                {{else}}
                    <span class="badge bg-success">Faol</span>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

