<div class="content mt-3">
    <h2>Yangi Buyurtma</h2>
    <form method="post" action="/buyurtma">
        <div class="order-form">
            <input type="number" name="telefon" placeholder="Telefon" class="form-control mb-2">   
            <input type="text" name="ism" placeholder="Ism" class="form-control mb-2">
            <input type="number" name="miqdor" placeholder="Miqdor" class="form-control mb-2">
            <input type="text" name="lokatsiya" placeholder="Lokatsiya" class="form-control mb-2">
            <input type="text" name="kuryer" placeholder="Kuryer" class="form-control mb-2">
            <button class="btn btn-primary" type="submit">OK</button>
        </div>
    </form>

    <h2 class="mt-4 mt-5">Buyurtmalar</h2>

<div class="table-wrapper mt-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ism</th>
                <th>Miqdor</th>
                <th>Lokatsiya</th>
                <th>Kuryer</th>
                <th>Holat</th>
                <th>Harakatlar</th>
            </tr>
        </thead>
        <tbody id="zakazList">
            {{#each zakazIstor}}
            <tr class="zakaz-item">
                <td>{{this.ism}}</td>
                <td>{{this.miqdor}}</td>
                <td>{{this.lokatsiya}}</td>
                <td>{{this.kuryer}}</td>
                <td><span class="badge bg-warning">Jarayonda</span></td>
                <td>
                    <button class="btn btn-success btn-sm">Yetkazildi</button>

                        <a class="btn btn-danger btn-sm" href="/editZakaz/{{_id}}">
                          
                            O'zgartirish

                            </a>
                </td>
            </tr>
            {{/each}}
            <h3>Barcha buyurtmalar: <span class="badge bg-info">{{totalMiqdor}}</span></h3>
        </tbody>
        
    </table>
</div>

<style>
    .table-wrapper {
        max-height: 250px; 
        overflow-y: hidden; 
        transition: max-height 0.5s ease-in-out; 
    }

    .table-wrapper:hover {
        max-height: 600px; 
        overflow-y: auto; 
    }
</style>



